
module optng.jqueryui.dialog.tpl

//-
	Template for the $optng.jqueryui.dialog directive.

template#optng-jqueryui-dialog

	div
		//- Add a transparent overlay if the dialog is modal.
		.ui-widget-overlay.ui-front(ng-if='opt_dialog.modal', ng-click='opt_dialog.close()')

		//- This is the real dialog.
		.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-content-height-fixed.ui-dialog-buttons.ui-draggable.ui-resizable(
			tabindex='-1'
			ng-class="opt_dialog.class"
			ng-style="{\
				position: 'absolute',\
				width: '' + opt_dialog.width + 'px',\
				height: '' + opt_dialog.height + 'px',\
				top: '50px',\
				left: '50%',\
				'margin-left': '-' + opt_dialog.width/2 + 'px'\
			}"
		)

			//- Title bar.
			.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
				//- Title display
				span.ui-dialog-title {{ opt_dialog.title }}
				//- close button !
				button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close(
					jqui-hoverable
					jqui-focusable
					ng-click='opt_dialog.close()'
				)
					span.ui-button-icon-primary.ui-icon.ui-icon-closethick
					span.ui-button-text close


			//- The contents of the dialog go here.
			.ui-dialog-content.ui-widget-content(ng-transclude)

			//- And here is the button bar !
			div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix(ng-if='opt_dialog.buttons')
				div.ui-dialog-buttonset
					button(
						ng-repeat='btn in opt_dialog.buttons'
						jqui-button
						role='button'
						aria-disabled='false'
						ng-class='btn.class'
						ng-click='opt_dialog.close(btn.event_name)'
					) {{ btn.text }}
